# deps
node_modules/
bun.lock
package-lock.json

# builds
dist/
build/
*.tsbuildinfo

# data
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite3
.asistenku/

# env
.env
.env.local

# logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# sourcemaps in dist
*.map
